---
aws_profile: "#{ aws.profile }#"
aws_region: "#{ aws.region }#"

allowed_ip: "#{ allowed_ip }#"

ssh_private_key: |
  #{ ssh_key(ssh.private_key)|indent(2) }#
ssh_public_key: |
  #{ ssh_key(ssh.public_key)|indent(2) }#

redhat_username: "#{ redhat.username }#"
redhat_password: "#{ redhat.password }#"

cluster_password: "#{ cluster_password }#"
